.table-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.table-topic {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.plus-sign {
    font-size: 25px;
    color: teal;
    text-align: center;
    width: 40px;  
    cursor: pointer;
    border: 3px solid sandybrown;
    border-radius: 50px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid tan;
}

.status {
    cursor: pointer;
    font-size: 25px;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 2px sandybrown solid;
}

.status__checked::before {
    color:seagreen;
    content: 'V';
    position: absolute;
    left: 0;
    top: 2px;
    bottom: 0;
    right: 0;
}

th, td {
    position: relative;
    padding: 20px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

tr {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid tan;
}

td {
    width: 20%;
}

.td__descShort {
    width: 50%;
}

.td__status {
    width: 10%;
}

.td__descLong {
    padding-top: 0px;
    display: none;
    width: 50%;
    text-align: left;
}

.td__date {
    width: 30%;
}

.td__actions {
    width: 10%;
}

.desc-active {
    display: block;
}

.actions__container {
    margin-left: auto;
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.table__button {
    cursor: pointer;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.button__edit {
    background-image: url('./img/pen.png');
}

.button__delete {
    background-image: url('./img/delete.png');
}